<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand me-5" href="/">Baloon Tracking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ms-5" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= ufos_path %>">Ufos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="<%= sightings_path %>">Sightings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_ufo_path %>">Create Ufo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_sighting_path %>">Create Sighting</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
